@import "styles/button";
@import "styles/button";
@import "styles/button";

body {
    background-color: coral;
}

.logo-container {
    background: url("./assets/logo.svg");
    width: 100px;
    height: 100px;
}
