<!doctype html>
<html lang="en-US" >
<head>
    <meta charset="UTF-8">
    <title>Puppet</title>
</head>
<body class="fl-page__body--loading">
    <div id="root"></div>
    <%= htmlWebpackPlugin.files.webpackManifest %>
</body>
</html>
